{#
/**
 * @file
 * Default theme implementation to display a menu link view placeholder.
 *
 * Available variables:
 * - title: The title of the menu link.
 * - view_id: The ID of the view.
 * - display_id: The display ID of the view.
 *
 * @ingroup themeable
 */
#}
<div class="menu-link-view-placeholder">
  <span class="placeholder-title">{{ title }}</span>
  <span class="placeholder-info">[{{ 'View Reference'|t }}]</span>
</div>
